body
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5vh;
}
.score-board, .choices
{
  display: flex;
  gap: 5vw;
}
.score-board
{
  width: 80vw;
  height: 50vh;
  justify-content: space-between;
}
.plr, .pc
{
  width: 50%;
  height: 100%;
  border: 1px solid;
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.winner, .result
{
  width: 80vw;
  font-size: 5vw;
  text-align: center;
}